@import "src/style/variables";

.list-item, .addStudentBtn {
  background-color: $light-gray;
  font-size: $base-font-size;
  padding: 2px;
  margin: 8px;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item p {
  margin: 0;
}

.group-content-list, .trainee-List {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.studentDiv {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}